body {
    font-family: Arial, sans-serif;
}

#zone_chat {
    width: 500px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#historique_messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

#saisie_message textarea {
    width: 100%;
    height: 70px;
    padding: 10px;
    margin-bottom: 10px;
}

#saisie_message input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.sent-message {
    background-color: #007BFF; /* 蓝色，表示由您发送的消息 */
    color: white; /* 白色文本，为了确保在深色背景上可读 */
    align-self: flex-end;
    order: 1;
}

.received-message {
    background-color: #000000; /* 黑色，表示收到的消息或系统消息 */
    color: white; /* 白色文本 */
    align-self: flex-start;
    order: 2;
}
